<script id="orderTmp" type="text/html">
    <header class="m-navbar BackgroundColor">
        <a id="index1" class="navbar-item">
            <i class="layui-icon layui-icon-left" style="font-size: 21px;color: #fff"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title" style="color: #fff">下单</span>
        </div>
    </header>
    <!-- <div class="g-view BackgroundColor" style="text-align: center;font-size: 16px;color: #fff">
        <span>您本月还未产生销售，加油哟！</span>
    </div> -->
    <div class="m-grids-3">
        <!-- <a href="#" class="grids-item">
            <div class="grids-txt">
                <button class="layui-btn layui-btn-radius layui-btn-warm MiddleButton">
                    <i class="icon-order"></i>
                </button>
                <br/><br/><span style="font-size: 17px">下销售订单</span></div>
        </a> -->
        <a id="selectCustomer" class="grids-item">
            <div class="grids-txt">
                <button class="layui-btn layui-btn-radius layui-btn-normal MiddleButton">
                    <i class="icon-shopcart"></i>
                </button>
                <br/><br/><span style="font-size: 17px">下销货单</span></div>
        </a>
        <a id="tuihuo_selectcustomer" class="grids-item">
            <div class="grids-txt">
                <button class="layui-btn layui-btn-radius MiddleButton">
                    <i class="icon-order"></i>
                </button>
                <br/><br/><span style="font-size: 17px">下退货单</span></div>
        </a>
    </div>
    <div class="m-cell">
        <!-- <a id="salesOrder" class="cell-item">
            <div class="cell-left" style="font-size: 16px"><i class="icon-feedback"><span
                    style="padding-left: 10px">销售订单列表</span></i></div>
            <div class="cell-right cell-arrow"></div>
        </a> -->
        <a id="salesBill" class="cell-item">
            <div class="cell-left" style="font-size: 16px"><i class="icon-feedback"><span
                    style="padding-left: 10px">销货单列表</span></i></div>
            <div class="cell-right cell-arrow"></div>
        </a>
    </div>
</script>