<script id="pullSignalTmp" type="text/html">
    <header class="m-navbar BackgroundColor">
        <a id="index1" class="navbar-item">
            <i class="layui-icon layui-icon-left" style="font-size: 21px;color: #fff"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title" style="color: #fff">要货申请</span>
        </div>
    </header>
    <div class="m-grids-2">
        <a id="addApplicationGoods" class="grids-item">
            <div class="grids-txt">
                <button class="layui-btn layui-btn-radius layui-btn-normal MiddleButton">
                    <i class="icon-shopcart"></i>
                </button>
                <br/><br/><span style="font-size: 17px">要货申请</span></div>
        </a>
        <a id="addReturnRequest" class="grids-item">
            <div class="grids-txt">
                <button class="layui-btn layui-btn-radius MiddleButton">
                    <i class="icon-order"></i>
                </button>
                <br/><br/><span style="font-size: 17px">退货申请</span></div>
        </a>
    </div>
    <div class="m-cell">
        <a id="requireGoodsList" class="cell-item">
            <div class="cell-left" style="font-size: 16px"><i class="icon-feedback"><span
                    style="padding-left: 10px">要货申请列表</span></i></div>
            <div class="cell-right cell-arrow"></div>
        </a>
        <a id="tuihuo_requireGoodsList" class="cell-item">
            <div class="cell-left" style="font-size: 16px"><i class="icon-feedback"><span
                    style="padding-left: 10px">退货申请列表</span></i></div>
            <div class="cell-right cell-arrow"></div>
        </a>
    </div>
</script>