<script id="requireGoodsListTmp" type="text/html">
    <header class="m-navbar BackgroundColor">
        <a id="pullSignal" class="navbar-item">
            <i class="layui-icon layui-icon-left" style="font-size: 21px;color: #fff"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title" style="color: #fff">要货申请列表</span>
        </div>
        <a class="navbar-item" style="color: #fff">
            <span style="margin-right: 10px;font-size: 18px"></span><i id="add_exit" class="layui-icon layui-icon-add-1" style="font-size: 21px;"></i>
        </a>
    </header>
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width:48%;margin:0;float:left;margin-left:7px;margin-right:5px">
                <select name="quiz1" id="daterange" lay-filter="daterange">
                    <option value="1">今天</option>
                    <option value="2">昨天</option>
                    <option value="3">本周</option>
                    <option value="4">本月</option>
                    <option value="5">上月</option>
                    <option value="6">近30天</option>
                    <option value="7">本季度</option>
                    <option value="8">全部</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width:48%;margin:0;float:left;">
                <select name="quiz2" id="approvestate" lay-filter="approvestate">
                    <option value="0">全部</option>
                    <option value="1">未审</option>
                    <option value="2">生效</option>
                    <option value="3">中止</option>
                    <option value="4">生效未执行</option>
                    <option value="5">执行中</option>
                    <option value="6">执行完</option>
                </select>
            </div>
        </div>
    </div>


    <div class="m-cell" id="StockRequestsList">
        
        
    </div>
    <div style="height:16px"></div>
    <div class="weui-footer weui-footer_fixed-bottom" style="width: 100%;height: 35px;z-index: 999;background-color: #fff;line-height: 35px;bottom: 0;">
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                商品种类：<span id="TotalInventoryCount"></span>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                总单数：<span id="TotalVoucherCount"></span>
            </div>
        </div>
    </div>
</script>