<script id="tuihuo_selectcustomerTmp" type="text/html">
    <header class="m-navbar BackgroundColor">
        <a id="order" class="navbar-item">
            <i class="layui-icon layui-icon-left" style="font-size: 21px;color: #fff"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title" style="color: #fff">选择客户</span>
        </div>
        <a class="navbar-item" style="color: #fff">
            <!-- <span style="margin-right: 10px;font-size: 18px">收款</span><i id="add_exit" class="layui-icon layui-icon-add-1" style="font-size: 21px;"></i> -->
        </a>
    </header>
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="m-cell" id='customerlist'>
        
    </div>
    </script>