<script id="tuihuo_salelistTmp" type="text/html">
    <header class="m-navbar BackgroundColor">
        <a id="order" class="navbar-item">
            <i class="layui-icon layui-icon-left" style="font-size: 21px;color: #fff"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title" style="color: #fff">新增销货单</span>
        </div>
    </header>

    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">客户：</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" name="select2" id='customer_list'>
                    
                </select>
            </div>
        </div>
        <div class="weui-cell weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">备注</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入">
            </div>
            <div class="weui-cell__ft" id="up_down">
                <i class="layui-icon layui-icon-down"></i>
            </div>
        </div>
        <div id="optiondisplay" style="display: none;">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">应收余额</label></div>
                <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" value='0.00'>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">仓库：</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id='warehouse'>

                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">项目：</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2" id='project_list'>
                        
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">运输方式：</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <!-- <option value="1">测试</option>
                        <option value="2">移动客户</option> -->
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">业务员：</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2"  id="person">
                        
                    </select>
                </div>
            </div>
        </div>
    <div>
    <div class="weui-footer weui-footer_fixed-bottom" style="width: 100%;height: 45px;z-index: 999;background-color: #fff;line-height: 45px;bottom: 0;">
            <div class="layui-row">
                <div class="layui-col-xs7 layui-col-sm7 layui-col-md7">
                    &nbsp;
                </div>
                <div id="tuihuo_productList" style="background-color:#00CACA;color:#fff;" class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                    选存货
                </div>
            </div>
        </div>
</script>